{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>

  <body>
    <iframe src="https://chrispydev.vercel.app/"></iframe>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
